body {
    background: #aaa;
}


/* state-default */

.state-default {
    border: 1px solid #000;
    background: #aaa;
}

.state-default>* {
    color: #000;
}

.state-default>.progressBar> {
    border: 1px solid #000;
}

.state-default>.progressBar>.fill {
    border: 1px solid #222;
    color: #fff;
    background: #222;
}


/* state-success */

.state-success {
    border: 1px solid #000;
    background: #8f8;
}

.state-success>* {
    color: #000;
}

.state-success>.progressBar> {
    border: 1px solid #000;
}

.state-success>.progressBar>.fill {
    border: 1px solid #080;
    color: #fff;
    background: #080;
}


/* state-indeterminate */

.state-indeterminate {
    border: 1px solid #000;
    background: #8ff;
}

.state-indeterminate>* {
    color: #000;
}

.state-indeterminate>.progressBar> {
    border: 1px solid #022;
}

.state-indeterminate>.progressBar>.fill {
    border: 1px solid #022;
    color: #fff;
    background: #022;
}


/* state-warning */

.state-warning {
    border: 1px solid #000;
    background: #ff8;
}

.state-warning>* {
    color: #000;
}

.state-warning>.progressBar> {
    border: 1px solid #440 !important;
}

.state-warning>.progressBar>.fill {
    border: 1px solid #440;
    color: #fff;
    background: #440;
}


/* state-error */

.state-error {
    border: 1px solid #000;
    background: #f88;
}

.state-error>* {
    color: #000;
}

.state-error>.progressBar> {
    border: 1px solid #400 !important;
}

.state-error>.progressBar>.fill {
    border: 1px solid #400;
    color: #fff;
    background: #400;
}